
body {background-image:url("IMG-20220814-WA0008.jpg"); background-size:1500px;background-attachment:fixed;}

 input{height:30px; width:200px; border:2px solid; align=right;border-color:aqua;}
 footer{font-variant:small-caps;}
